<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="gdwcoremodulelist">
                <group id="gdwrobotshinfo" type="text" translate="label" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GDW Custom Robots</label>
                    <field id="gdwrobotshinfoblock" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                        <frontend_model>GDW\SeoCustomRobots\Block\Adminhtml\System\ModuleInfoFull</frontend_model>
                    </field>
                </group>
        </section>
        
        <section id="gdwseo">
            <group id="gdwcoreabout" type="text" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Acerca de</label>
                <frontend_model>GDW\Core\Block\Adminhtml\System\Core\GlobalAds</frontend_model>
            </group>

            <group id="robots" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Robots</label>
                <field id="enable" translate="label" type="select" sortOrder="59" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable custom Robots</label>
                    <config_path>gdw/seo_robots/enable</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This optión invalid global config robots and use custom attribute for products, categories and pages.</comment>
                </field>
                <field id="list_custom_robots" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Full Action Name to noindex,follow</label>
                    <config_path>gdw/seo_robots/custom_robots_list</config_path>
                    <comment>one by line. if match, it'll add noindex,follow</comment>
                </field>
            </group>
        </section>
    </system>
</config>